%p
  %ol.breadcrumb
    %li.active Home

  %ol.breadcrumb
    %li= link_to 'Home', '#'
    %li.active Category

  %ol.breadcrumb
    %li= link_to 'Home', '#'
    %li= link_to 'Category', '#'
    %li.active Page
