:javascript
  var initStyleGuide = function() {
    $('.effective-kitchen-sink > div > nav').affix({
      offset: { top: $('.effective-kitchen-sink > div > nav').offset().top - 20 }
    });

    $('body').scrollspy({ target: '.effective-kitchen-sink > div > nav', offset: 100 });

    $('.effective-kitchen-sink > div > nav > ul a').on('click', function(event) {
      event.preventDefault();
      target = $(event.currentTarget).attr('href')
      if(target.length > 0) { $('html, body').scrollTop($(target).offset().top); }
    });
  };

  $(document).ready(function() { initStyleGuide(); });
  $(document).on('page:change', function() { initStyleGuide(); });

:css
  .effective-kitchen-sink nav {
    display: inline-block;
  }

  .effective-kitchen-sink .nav > li > a {
    padding: 5px 10px;
  }

  .effective-kitchen-sink .affix {
    position: fixed;
    top: 20px;
  }

  .effective-kitchen-sink div.ks-example {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    border-style: solid;
    padding: 45px 15px 15px;
    position: relative;
  }

  .effective-kitchen-sink span.ks-example {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
  }

  .effective-kitchen-sink .inline-ks-example {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .effective-kitchen-sink .inline-radio-or-checkboxes > span {
    display: inline-block;
    margin: 0px 10px 0px 0px;
  }

