.row
  .col-3
    %nav.nav.nav-pills.flex-column
      - @partials.each_with_index do |partial, index|
        %a.nav-item.nav-link{href: '#' + partial.parameterize}= partial.titleize

  .col-9
    - @partials.each do |partial|
      .card.mb-3.mt-3{id: partial.parameterize}
        .card-header
          = partial.titleize
        .card-body
          = render partial: partial
