.row
  - 4.times do
    .col-sm-3
      %a.thumbnail{:href => '#'}
        %img{:src => asset_path('placeholder.png'), :height => 180, :width => 171}


.row
  - 3.times do
    .col-sm-4
      .thumbnail
        %img{:src => asset_path('placeholder.png'), :height => 200, :width => 242}
        .caption
          %h3 Thumbnail Label
          %p Cumque iste repellat rerum asperiores libero. Omnis quia et illo. Dignissimos ut quod debitis.
          %p
            %a.btn.btn-primary Save
            %a.btn.btn-default Cancel
